body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  label {
    display: block;
  }
  nav a {
    display: inline-block;
    margin: 1em;
  }
}